  html {
    font-family: 'Times New Roman', Times, serif;
  }
  
  body {
    margin: 0;
  }
  legend {
    font-size: 40px;
    font-stretch: expanded;
    color:rgb(78, 8, 206);

  }
  label {
    font-size: 25px;
    
  }
 
  button {
    font: inherit;
    background: #5102ac;
    border: 1px solid #5102ac;
    color: white;
    cursor: pointer;
    padding: 1.25rem 2.5rem;
    font-size: 1.5rem;
  }

  #get-btn {
    margin-left: 14px;
    margin-top: 18px;
    margin-bottom: 0px;


  }
  
  button:focus {
    outline: none;
  }
  
  button:hover,
  button:active {
    background: #832ee4;
    border-color: #832ee4;
  }
  .buttonstyle {
    position: relative;
    background-color: #eee;
    color: rgb(141, 28, 28);
    cursor: pointer;
    padding: 18px;
    width: 20%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}


.activityStatusCircle {
  height: 25px;
  width: 25px;
  background-color: green !important;
  border-radius: 50%;
  display: block;

}
.activityStatusCircleRed {
  height: 25px;
  width: 25px;
  background-color: red !important;
  border-radius: 50%;
  display: block;

}
h2 {
  position: relative;
  top: 0;
  padding-left: 5px;
}
#userTable {
  margin-right: 10px;
  

}

#postTable {
  margin-left: 10px;
}


table {
    border-collapse: collapse;
    display: block;
    width: 50%;
    border-spacing: 0;
    width: 50%;
    border: 2px solid #ddd;
    }

  
  th, td {
    text-align: left;
    padding: 8px;
    margin-right: 15px;
  }
  

  #table-wrapper {
    position:relative;
  }
  #table-scroll {
    height:250px;
    overflow:scroll;  
    margin-top:20px;
  }
 
 
  #table-wrapper table thead {
    position: absolute;
    top:-20px;
    z-index:2;
    height:20px;
    width:35%;
  }
  #table-wrapper table * {
    background:rgb(255, 255, 255);
    color:black;
  }
  